@using System.Linq;
@model IEnumerable<WebManagement.Models.DevicePropertiesViewModel>

@{
    ViewData["Title"] = "Device Properties";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DesiredValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-deviceid="@item.DeviceId" data-location="@item.Location">
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td data-desiredValue="@item.DesiredValue">
                    @Html.DisplayFor(modelItem => item.DesiredValue)
                </td>
                <td data-state="@item.State">
                    @Html.DisplayFor(modelItem => item.State)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {

    <script type="text/javascript">

        $(function () {

            setInterval(function () {

                // first time ==> create gauge
                $("table tbody tr").each(function (i, item) {

                    var target = $(item);
                    var deviceid = target.data("deviceid");
                    var location = target.data("location");

                    $.getJSON('@Url.Action("PropertiesData", new { id = "__deviceid__", location = "__location__" })'
                        .replace("__deviceid__", deviceid)
                        .replace("__location__", location)
                    ).done(function (response) {

                        target.find("td[data-desiredValue]").html(response.desiredValue);
                        target.find("td[data-state]").html(response.state);

                    });

                });
            }, 2500);

        });

    </script>
}